nav ul a,
nav .brand-logo {
  color: $grey;
}
nav ul a {
  color:$grey;
  &:hover {
    background-color:$red;
    color:$white;
  }
}
nav .brand-logo {
  height:56px;
}
nav .brand-logo svg {
    width: 100%;
    max-width: 70px;
    fill: $red;
    margin: 5px 0px;
}
.side-nav {
  background:$grey;
}
.side-nav a {
  color:$white;
  font-weight: 400;
  border-bottom:1px solid #444;
  &:hover{
    background-color:$red;
    border-bottom:1px solid $red;
  }
}
.side-nav .logo {
	background:$red;
	border-bottom:1px solid $white;
	padding: 5px 20px;
	text-align: center;
  overflow: hidden;
  &:hover{
    background:$red;
  }
}
.side-nav .logo svg {
	fill:#ffffff;
	max-width:180px;
}
@media only screen and (min-width: 601px) {
  nav .brand-logo {
    height:64px;
  }
  nav .brand-logo svg {
    margin:10px 0;
  }
}
