<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">
			<svg class="kick-logo" viewBox="0 0 32 20.047"><g><polygon points="6.5,18.3 9,15.1 4.9,9.8 11,1.7 5.8,1.7 0,9.8"/><polygon points="25.5,18.3 20.7,18.3 27.1,9.8 23.6,5.2 26.2,1.7 32,9.8"/><polygon points="6.4,20 11.5,20 26.3,0 21.4,0"/></g></svg>
    </a>
    <ul class="right hide-on-med-and-down">
      <li><a href="about/">About</a></li>
      <li><a href="projects/">Projects</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li class="header">
        <a class="logo" href="http://preview.kickcms.com/sites/canvas/" title="Kick Canvas" target="_self">
          <svg class="kick-logo" viewBox="0 0 32 20.047"><g><polygon points="6.5,18.3 9,15.1 4.9,9.8 11,1.7 5.8,1.7 0,9.8"></polygon><polygon points="25.5,18.3 20.7,18.3 27.1,9.8 23.6,5.2 26.2,1.7 32,9.8"></polygon><polygon points="6.4,20 11.5,20 26.3,0 21.4,0"></polygon></g></svg>
          <span class="kick-logo fallback"></span>
          <p>Kick Canvas</p>
        </a>
      </li>
      <li><a href="about/">About</a></li>
      <li><a href="projects/">Projects</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
